<!DOCTYPE html>
<html>
<head>
  <title>BeM Eletrônicos - Escritório Online - V1.01</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<hr />
			<p class="navbar-text pull-right">
			<% if user_signed_in? %>
			  Autenticado como <%= current_user.nome %> <strong><%= current_user.email %></strong>.
			  <%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %> |
			  <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			  <%= link_to "Registrar Funcionário", new_user_registration_path, :class => 'navbar-link'  %> |
			  <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		<hr />
	</div><!--Fecha div Header-->
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	<%= yield %>

</body>
</html>
