<!DOCTYPE html>
<html>
<head>
  <title>BeM Eletrônicos - Escritório Online - V1.01</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
			<div class="menu_top">
				<ul>
				<% if user_signed_in? %>
				  <li>Autenticado como <strong><%= current_user.email%></strong>.</li>
					
					  <li><%= link_to "Home", root_path, :class => 'navbar-link'  %></li>
					  <li><%= link_to 'Editar Perfil', edit_user_registration_url, :class => 'navbar-link' %></li>
					  <li><%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>					  
					<% else %>
					  <li><%= link_to "Home", root_path, :class => 'navbar-link'  %></li>
					  <li><%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %></li>
					  
					<% end %>
				</ul>
			</div>
			<div id="logo">
				<%= image_tag("logo.png")%>
			</div>
	</div><!--Fecha div Header-->
<!--
	<div id="slider">
		<ul id="slider_content">
			<a href="#"><li><%= image_tag("banner_1.png") %></li></a>
			<a href="#"><li><%= image_tag("banner_2.png") %></li></a>
		</ul>
		<div id="pager"></div>
	</div> -->

    <div id="content">
    	<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
    	<div id="page_wrapper">
		<%= yield %>
    	</div>
    	
    </div>
    <div id="footer">
    </div>
</body>
</html>
